*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 21vw;
  background-color: #1992d4;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  padding: 5%;
}

.title h1 {
  padding-left: 2%;
  font-weight: 700;
}

.section {
  height: calc(100% / 20);
  display: flex;
  align-items: center;
  padding: 4%;
}

.section h2 {
  font-weight: 300;
}

.container {
  height: 100vh;
  width: 79vw;
  margin-left: 21vw;
}

.header {
  height: 20svh;
}

.main-content {
  height: 80svh;
  background-color: #e2e8f0;
}
